<ion-content>
  <ion-slides #slider>

    <ion-slide>
      <div class="slide">
        <img src="./../../../assets/burger.png" />
        <h2>Welcome</h2>
        <p>The <b>Minfy Food on</b> app will help you to order food from food court vendors and save time.</p>
        <ion-button fill="clear" (click)="next()">Let's Start <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./../../../assets/user.png" />
      <h2>Tell us ablout yourself</h2>
      <ion-input placeholder="Your Name" [(ngModel)]="name"></ion-input>
      <ion-input placeholder="Your phone number" [(ngModel)]="phone"></ion-input>
      <ion-button fill="clear" (click)="saveUser()" [disabled]="!phone || !name">Continue <ion-icon slot="end"
          name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>