.img {
    height: 50% !important;
}

.h2 {
    margin-top: 10px !important;
}

.invalid {
    border: 1px solid #ea6153;
}

.valid {
    border: 1px solid green;
}

ion-item {
    margin-top: 10px;
}