<ion-toolbar>
  <ion-header>
    <ion-title>FoodOn HungerGone !</ion-title>
  </ion-header>
</ion-toolbar>
<ion-content>
  <ion-slides #slider>
    <ion-slide>
      <div class="slide">
        <ion-img class="ion-margin-horizontal" src="./../../../assets/f3.jpg" ></ion-img>
        <h2>Welcome</h2>
        <p>The <b>FoodOn HungerGone</b> app will help you to order food from food court vendors and save time.</p>
        <ion-button fill="clear" (click)="next()">Let's Start <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide> 
    <ion-slide>
      <ion-img class="ion-margin-horizontal img" src="./../../../assets/u3.jpg"></ion-img>
      <h2 class="h2">Tell us more about yourself</h2>
      <form #form="ngForm" (ngSubmit)="saveUser(form)">
        <ion-item> 
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" ngModel name="name" placeholder="Joffin" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label position="floating">Email ID</ion-label>
          <ion-input type="text" ngModel name="emailId" placeholder="joffin@gmail.com" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input type="number" ngModel name="phone" placeholder="94xxxxx38" [pattern]="mobNumberPattern" required></ion-input>
        </ion-item> 
        <div class="ion-text-center ion-margin-top ion-margin-horizontal">
          <ion-button  fill="outline" color="primary" size="default" type="submit" [disabled]="form.invalid">Continue <ion-icon slot="end"
            name="arrow-forward"></ion-icon>
          </ion-button>  
        </div>
      </form>
      <!-- <ion-input placeholder="Your Name" [(ngModel)]="name"></ion-input>
      <ion-input placeholder="Your phone number" [(ngModel)]="phone"></ion-input>
      <ion-button fill="clear" (click)="saveUser()" [disabled]="!phone || !name">Continue <ion-icon slot="end"
          name="arrow-forward"></ion-icon>
      </ion-button> -->
    </ion-slide>
  </ion-slides>
</ion-content>