.label {
    font-size: larger;
    display: block;
    margin-right: 20px;
}

.images {
    width: 60%;
}

.checked {
    color: orange;
}

.shri {
    margin-right: 50px;
}

.palkhi {
    margin-right: 63px;
}

.dominos {
    margin-right: 42px;
}

.green {
    margin-right: 21px;
}

.rating {
    margin-left: 10px;
    color: orange;
}