<app-header title="Profile"></app-header>
<ion-content [fullscreen]="true">
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
  <ion-card *ngIf="(userInfo);else loading">
    <ion-card-header>
      <ion-card-title>{{userInfo.name}}</ion-card-title>
      <ion-card-subtitle>{{userInfo.empId}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label style="display: block;">Email ID - {{userInfo.emailId}}</ion-label>
      <ion-label style="display: block;" class="ion-margin-vertical">Mobile Number - {{userInfo.phone}}</ion-label>
      <ion-button style="display: block;" class="ion-margin-horizontal" fill="clear" (click)="logout()">Logout <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>