<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FoodOn HungerGone !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="main-heading">
    <ion-label slot="start">Your Cart</ion-label>
    <ion-icon name="cart-outline"></ion-icon>
  </ion-item>
  <hr style="background-color: white;" class="ion-margin-horizontal">
  <ion-list *ngIf="cartArray.length">
    <ion-item *ngFor="let dish of cartArray">
      <ion-text>{{dish.name}}</ion-text>
      <ion-text slot="end">{{dish.totalAmount}}</ion-text>
    </ion-item>
  </ion-list>

  <ion-text><u>Add cooking instructions (Optional)</u></ion-text>
  <ion-text *ngIf="!cartArray.length" class="ion-margin-horizontal">Your Cart is empty !</ion-text>
  <!-- <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>{{(dish$ | async)?.name}}</ion-card-subtitle>
      <ion-card-title>{{(dish$ | async)?.price}}₹</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{(dish$ | async)?.description}}

      <ion-input class="amount-inpput" type="number" min="1" [(ngModel)]="amount" placeholder="amount"></ion-input>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="secondary" slot="end" (click)="order()">
            <ion-icon slot="icon-only" icon="cart"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-content>
  </ion-card> -->


</ion-content>