.amount-inpput{
    background: #e8f0fe;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0 10px;
    color: var(--ion-color-primary)
}

.main-heading {
    font-size: 23px;
    margin-top: 34px;
}

.footer{
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}

.grand-text {
    font-weight: bold;
    font-size: 20px;
}

hr {
    background-color: black;
}