.swiper-slide img {
    margin: 0;
}
.swiper-slide{
    padding: 16px;
}
.swiper-slide .login-input{
    background: #e8f0fe;
    padding: 20px;
    border-radius: 5px;
    margin: 0 0 10px;
}

.login-container{
    padding: 25px;
}