ion-text {
  display: block !important;
  margin: 10px;
}

.special {
  margin-top: 27px;
}

img {
  background-size: cover;
}

ion-slides {
  height: 40%;
  ion-card{
    height: 100%;
  }
}
.section-title{
    padding-left:10px;
    margin-top: 10px;
}