<app-header>
  <ion-toolbar>
    <ion-title>FoodOn HungerGone !</ion-title>
    <ion-buttons>
      <ion-button slot="end">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</app-header>
<ion-content>
  <ion-text class="ion-text-center special">Today's Special</ion-text>
  <ion-slides [options]="slideOpts" scrollbar="true">
    <ion-slide *ngFor="let dish of newDishes">
      <ion-img alt="" [src]="dish.path"></ion-img>
      <ion-text>{{dish.name}}</ion-text>
      <!-- <ion-card color="primary">
        <img alt="" srcset="">
        <ion-card-header>
          <ion-card-subtitle>{{dish.name}}</ion-card-subtitle>
          <ion-card-title>{{dish.price}}₹</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{dish.description}}
        </ion-card-content>
      </ion-card> -->
    </ion-slide>
  </ion-slides>
  <ion-text class="ion-text-center">Recommended for You</ion-text>
  <ion-slides [options]="slideOpts" scrollbar="true"> 
    <ion-slide *ngFor="let dish of recommendedDishes">
      <!-- <ion-card color="primary"> -->
        <ion-img alt="" [src]="dish.path"></ion-img>
        <ion-text>{{dish.name}}</ion-text>
        <!-- <ion-card-header>
          <ion-card-subtitle>{{dish.name}}</ion-card-subtitle>
          <ion-card-title>{{dish.price}}₹</ion-card-title>
        </ion-card-header> -->
        <!-- <ion-card-content>
          {{dish.description}}
        </ion-card-content> -->
      <!-- </ion-card> -->
    </ion-slide>
  </ion-slides>
</ion-content>