ion-text {
  display: block !important;
  margin: 10px;
  font-size: larger;
}

.special {
  margin-top: 27px;
}

.recmnd {
  margin-top: 23px;
}

img {
  background-size: cover;
}

ion-slides {
  height: 40%;
  ion-card{
    height: 100%;
  }
  overflow: hidden;
}
.section-title{
    padding-left:10px;
    margin-top: 10px;
}